__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

runs/
outputs/*

OneDrive_*/
*.7z
*.zip

*.pt
*.onnx
*.ncnn
*.engine

*.mp4
*.avi
*.mov
*.mkv

data/
data/videos/*
!data/videos/.gitkeep
data/raw_onedrive_training/
data/background_candidates/
data/real_review/
data/real_hard_negatives/
data/synthetic_preview_big_dark/
data/synthetic_dataset/images/*
!data/synthetic_dataset/images/.gitkeep
!data/synthetic_dataset/images/train/
!data/synthetic_dataset/images/val/
data/synthetic_dataset/images/train/*
data/synthetic_dataset/images/val/*
!data/synthetic_dataset/images/train/.gitkeep
!data/synthetic_dataset/images/val/.gitkeep
data/synthetic_dataset/labels/*
!data/synthetic_dataset/labels/.gitkeep
!data/synthetic_dataset/labels/train/
!data/synthetic_dataset/labels/val/
data/synthetic_dataset/labels/train/*
data/synthetic_dataset/labels/val/*
!data/synthetic_dataset/labels/train/.gitkeep
!data/synthetic_dataset/labels/val/.gitkeep
